/*
 * CSS for Moral Values study
 *
 */

/* Container layout for trials */

body {
    background-color: black;
    color: white;
}
#display_stage_background {
    width: 100vw;
    background-color: white;
    z-index: -1;
}
#display_stage {
    position: fixed;
    left: 1vw;
    top: 1vh;
    height: 90vh;
    width: 98vw;
    background-color: white;
    box-shadow: 1px 1px 1px #999;
    z-index: 0;
}
#grid {
    display: grid;
    grid-template-areas:
        "question question"
        "left-issue right-issue"
        "left-photo right-photo";
    grid-template-rows: 15vh minmax(20vh, auto) minmax(1fr, 500px);
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
}
#grid > div:nth-child(1) {
    grid-column: span 2;
    text-align: center;
    margin-top: 3vh;
    font-size:x-large;
}
#grid > div:nth-child(2) {
    justify-self: end;
    align-self: start;
    width: 100%;
}
#grid > div:nth-child(4) {
    justify-self: end;
    align-self: start;
}
.issue {
    display: flex;
    justify-content: flex-start;
}
.issue > img {
    height: 71px;
    width: 56px;
    margin-right: 20px;
}
.protest img {
    max-width: 100%;
    height: auto;
}
